body {
    margin: 0px;
}

.container {
    width: 100%;
    overflow: hidden;
    background: #f9f9f9;
}

.sidebar {
	float: left;
	width: 160px;
    position: absolute;
    top: 0px;
    left: 0px;
}

#logo {
    display: block;
    width: 160px;
    height: 160px;
    background-image: url(http://ru.wikipedia.org/static/images/project-logos/ruwiki.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.page {
	padding: 25px;
    margin: 70px 0px 0px 160px;
	float: left;
	background: #FFF;
	border-left: solid 1px #A7D7F9 
}

h1 {
    font-size: 200%;
    border-bottom: 1px solid black;
    font-weight: normal;
    padding-bottom: 2px;
}

h2 {
 	border-bottom: 1px solid black;
}

p.italic {
 	font-style: italic;
}

.content { 
    width: 400px; 
    background: #f9f9f9; 
    padding: 5px; 
    border: solid 2px #888; 
    position: relative; 
}

h4 {
 	text-align: center;
    margin: 5px;
}

li {
    list-style-type: none;
}

dt {
    color: #4d4d4d;
    margin-left: 10px;
}

dd {
    font-size: 14px;
    line-height: 1.6;
    margin-left: 25px;
}

dd.cont {
    margin-left: 16px;
}

.thumbimage_right {
 	padding: 5px;
 	float: right;
}

.thumbimage_left {
 	padding: 5px;
 	float: left;
}

table.info {
    width: 300px;
    float: right;
    background-color: #f9f9f9;
    border: 1px solid #aaa;
}

.info>caption {
    font-size: 20px;
    font-weight: bold;
}

table.info td {
    vertical-align: top;
}

table.info td p {
    margin: 0 !important;
}

table.info th {
    text-align: left;
    padding: 3px;
    vertical-align: top;
}